<div *ngIf="userService.user; else login" class="loginbox">
  Üdv {{ userService.user.username }}
  <button mat-button class="mat-primary" (click)="router.navigate(['/'])">Termékek</button>
  <button mat-button class="mat-primary" (click)="router.navigate(['/users'])">Felhasználók</button>
  <button mat-button (click)="logout()">Kijelentkezés</button>
</div>
<ng-template #login>
  <div class="loginbox">
    <button mat-button class="mat-primary" (click)="router.navigate(['/'])">Termékek</button>
    <button routerLink="/login" mat-button class="mat-primary">Bejelentkezés</button>
    <button routerLink="/register" mat-button>Regisztráció</button>
  </div>
</ng-template>
<router-outlet></router-outlet>
